@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}