@model DuneDaqMonitoringPlatform.Models.AnalysisPannel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AnalysisPannel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label">Pannel</label>
                    @Html.DropDownList("pannelId", new SelectList(ViewBag.Pannels, "Id", "Name"), new { @class = "form-control" })

                </div>
                <div class="form-group">
                    <label class="control-label">Data display</label>
                    @Html.DropDownList("dataDisplayId", new SelectList(ViewBag.DataDisplays, "Id", "Name"), new { @class = "form-control" })

                </div>

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
