@model DuneDaqMonitoringPlatform.Models.AnalysisParameter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AnalysisParameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Degree" class="control-label"></label>
                <input asp-for="Degree" class="form-control" />
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interval" class="control-label"></label>
                <input asp-for="Interval" class="form-control" />
                <span asp-validation-for="Interval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Analyse</label>

                @Html.DropDownList("analyseId", new SelectList(ViewBag.Analyses, "Id", "Name", Model.Analyse.Id), new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label class="control-label">Parameter</label>

                @Html.DropDownList("parameterId", new SelectList(ViewBag.Parameters, "Id", "Name", Model.Parameter.Id), new { @class = "form-control" })

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
